#banner {
  height: 400px;
  width: 100%;
  background: #f5f5f5;;
  padding-top: 30px;
  font-size: 18px;

  h1 {
    margin-bottom: 30px;
  }
}

// 常见问题
.question-box {
  height: 800px;
}

.question-list {
  height: 800px;

  li { list-style: none; }
  
  a,
  a:-webkit-any-link {
    color: $black;
  }
}
