// poster
#activity-home {
  background     : url('') center no-repeat;
  background-size: cover;
  background: $dark;
  text-align: center;
  color: $white;

  .h1 {
    margin-top: 300px;
    margin-bottom: 50px;
    font-size: 36px;
  }

  .play {
    width: 80px;
    height: 80px;
  }
}

// 导航背景色为黑色
#nav-bar {
  position: relative;
  left: 0;
  top: 0;
  z-index: $z-index-high;
  background: $black;
}

// 活动资讯
.activity-list {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  text-align: center;

  .card-title {
    width: 100%;
    padding    : 30px 0;
    font-size  : 20px;
    line-height: 15px;

    img {
      width : 83px;
      height: 17px;
    }

    .small {
      color         : $dim-dark;
      font-family   : 'Copperplate';
      letter-spacing: 5px;
    }
  }

  a:-webkit-any-link {
    color: $dark;
  }
  // 查看更多
  .card-footer {
    display      : inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    color        : $dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .card-list { font-size: 0; }

  .box {
    height: 450px;
    margin-bottom: 10px;
  }

  .l-box {
    margin: 10px;
    height: 450px;
    border: 1px $gray solid;

    .cover {
      height: 287px;
      background: $black;
    }

    .info-box {
      width: 100%;
      height: auto;
      padding: 20px;
      text-align: left;
    }

    .text-box {
      margin-top: 5px;
      margin-bottom: 10px;
      height: 25px;
      font-size: 18px;

      .fr {
        width: 104px;
        height: 25px;
        line-height: 25px;
        background: $black;
        font-size: 14px;
        text-align: center;
        color: $white;
      }
    }

    .description {
      margin-bottom: 10px;
      font-size: 14px;
      color: #b9b9b9;
    }

    .date {
      font-size: 12px;
      color: #454545;
    }
  }
}
