#banner {
  height     : 400px;
  width      : 100%;
  background : #f5f5f5;
  padding-top: 30px;
  font-size  : 18px;
  @media (max-width: 767px) {
    text-align: center;
  }

  h1 {
    margin-bottom: 30px;
  }
}

// 常见问题
.question-box {
  margin-top   : 40px;
  margin-bottom: 20px;
  height       : auto;
  font-size    : 0;
}

// 左侧响应式滑动菜单
.responsive-slides {
  position        : fixed;
  left            : 0;
  top             : 0;
  z-index         : $z-index-highest;
  width           : 200px;
  max-width       : 100%;
  height          : 100%;
  @include slide-animation(left-right);
  background-color: #333;
  color           : $gray;
  font-size       : 16px;

  .question-title {
    height       : 30px;
    line-height  : 30px;
    padding-left : 1.5em;
    color        : #777;
    background   : #404040;
    text-shadow  : 0 1px 0 rgba(0,0,0,.5);
    font-weight  : 400;
    font-size    : 75%;
    margin-top   : 0;
    margin-bottom: 0;
    box-shadow   : inset 0 1px 0 rgba(255,255,255,.05);
    border-top   : 1px solid rgba(0,0,0,.3);
    box-shadow   : inset 0 1px 0 rgba(255,255,255,.05);
    border-top   : 1px solid rgba(0,0,0,.3);
  }

  li {
    height: 42px;

    a {
      display       : block;
      padding       : .4em 1em;
      color         : #ccc;
      padding-top   : .5em;
      padding-bottom: .5em;
      box-shadow    : inset 0 1px 0 rgba(255,255,255,.05);
      border-top    : 1px solid rgba(0,0,0,.3);
    }
  }
}

// 汉堡按钮
.menu-toggle {
  position     : fixed;
  bottom       : 10px;
  right        : 10px;
  z-index      : $z-index-highest;
  width        : 48px;
  height       : 48px;
  padding      : 16px 10px;
  outline      : none;
  opacity      : .7;
  border       : 1px solid transparent;
  border-radius: 4px;
  background   : #eee;

  &:focus,
  &:hover {
    transform: rotate(720deg);
  }

  .icon-bar {
    display           : block;
    width             : 22px;
    height            : 2px;
    -webkit-transition: .3s;
    transition        : .3s;
    background-color  : #000;
    border-radius     : 1px;

    &+.icon-bar {
      margin-top: 4px;
    }
  }
}

.icon-bar-rotate {
  -webkit-transform: rotate(180deg);
  transform        : rotate(180deg);
}

// 左侧问题列表
.question-list {
  height      : 800px;
  padding-left: 20px;
  position    : relative;
  left        : 0;
  right       : 0;
  border-right: 1px $gray solid;
  font-size   : 16px;

  .question-title {
    height       : 30px;
    line-height  : 30px;
    padding-left : 23px;
    margin-bottom: 10px;
    border-left  : 3px solid $gold;
    font-size    : 18px;
    font-weight  : bold;
  }

  li {
    list-style : none;
    width      : 100%;
    height     : 30px;
    line-height: 30px;

    &:last-child {
      margin-bottom: 20px;
    }

    a {
      display     : inline-block;
      width       : 100%;
      height      : 30px;
      padding-left: 26px;

      &:hover {
        background: $gray;
      }
    }
  }

  a,
  a:-webkit-any-link {
    color: $black;
  }
}

.answere-list {
  height   : 800px;
  position: relative;
  left: 0;
  right: 0;
  overflow : hidden;
  padding  : 0 20px;
  font-size: 16px;

  .answere-title {
    position: absolute;
    left: 20px;
    top: 10px;
    height       : 50px;
    width        : 100%;
    border-bottom: 1px $gray solid;
    font-size    : 20px;
    font-weight  : bold;
  }

  .answere {
    padding      : 10px 0;
    padding-top: 65px;
    height       : 750px;
    border-bottom: 1px $gray solid;

    &:last-child {
      border       : none;
      margin-bottom: 40px;
    }

    .subtitle {
      margin-bottom: 10px;
    }
  }
}
