// poster

#grapher-home {
  background     : url('../img/poster_grapher.png') center no-repeat;
  background-size: cover;
  text-align     : center;
  font-size      : 18px;
  color          : #ffffff;

  a,
  a:-webkit-any-link {
    color: $white;
  }

  .h1 {
    margin-top: 210px;
    font-size : 24px;
    @media (max-width: 767px) {
      font-size: 22px;
    }
    color     : #e6c288;
  }

  .btn {
    display      : inline-block;
    margin-top   : 20px;
    @media (max-width: 767px) {
      margin-top: 100px;
    }
    background   : $black;
    border       : 1px solid #fff;
    border-radius: 100px;
    width        : 140px;
    height       : 30px;
    line-height  : 30px;
    color        : $white;

    &:hover {
      color     : $black;
      background: $white;
    }
  }
}

.introduction {
  height       : auto;
  margin-bottom: 40px;
  font-size    : 0;
  text-align   : left;
  color        : #7c7c7c;

  .l-box {
    width       : 100%;
    display     : inline-block;
    height      : 55px;
    border-right: 1px #eee solid;
    @media (max-width: 767px) {
      border: none;
    }
    padding     : 20px;
    margin-top  : 50px;
  }

  .l-box.last {
    border: none;
  }

  .box {
    font-size: 14px;

    p {
      margin-bottom: 20px;
      font-size    : 22px;
      color        : $black;
      text-align   : center;
      margin-top   : -50px;
    }
  }
}

.qr-box {
  position: absolute;
  top: 0;
  z-index: $z-index-base;
  width: 250px;
  height: 400px;
  background: $white;
  border: 1px $black solid;
  text-align: center;
  font-size: 12px;

  .top {
    width: 100%;
    height: 250px;
    padding-top: 20px;
    background: #d4bda9;

    p {
      font-size: 20px;
    }

    img {
      margin-top: 30px;
      width: 120px;
      height: 120px;
      background: #000;
    }
  }

  .bottom {
    width: 100%;
    padding-top: 40px;
    color: $dark;

    a,
    a:-webkit-any-link {
      color: $black;
    }

    .btn {
      display: inline-block;
      width: 70%;
      height: 34px;
      margin-bottom: 10px;
      line-height: 34px;
      font-size: 18px;
      border: 1px solid #3b3b3b;
      border-radius: 5px;

      &:hover {
        color: $white;
        background: #000;
      }
    }
  }
}

.grapher-list {
  width        : 100%;
  height       : auto;
  border-top   : 20px $gray solid;
  margin-bottom: 20px;
  text-align   : center;

  .card-title {
    width      : 100%;
    margin-top : 10px;
    padding    : 30px 0;
    font-size  : 20px;
    line-height: 15px;

    img {
      width : 83px;
      height: 17px;
    }

    .small {
      color         : $dim-dark;
      font-family   : 'Copperplate';
      letter-spacing: 5px;
    }
  }

  a,
  a:-webkit-any-link {
    color: $dark;
  }
  // 查看更多
  .card-footer {
    display      : inline-block;
    margin-top   : 50px;
    margin-bottom: 50px;
    color        : $dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .card-list {
    font-size: 0;
  }

  .box {
    height       : 400px;
    margin-bottom: 10px;
  }

  .l-box {
    margin    : 10px;
    background: $gray;
    height    : 400px;

    .cover {
      height    : 216px;
      background: $black;
      position  : relative;
      left      : 0;
      right     : 0;

      .face {
        width        : 56px;
        height       : 56px;
        position     : absolute;
        bottom       : -27px;
        left         : 50%;
        margin-left  : -27px;
        background   : $gold;
        border-radius: 50%;
      }
    }

    .name {
      display      : inline-block;
      margin-top   : 40px;
      margin-bottom: 10px;
      font-size    : 16px;
      color        : #5c5c5c;

      img {
        width : 8px;
        height: 8px;
      }
    }

    .city {
      display      : inline-block;
      margin-bottom: 10px;
      font-size    : 14px;
      color        : #eb6a28;
    }

    .description {
      display  : inline-block;
      padding  : 0 10px;
      font-size: 14px;
      color    : $black;
    }
  }
}
