// poster

#poster-home {
  background     : url('../img/poster_home.png') center no-repeat;
  background-size: cover;

  #sign-down {
    position         : absolute;
    left             : 50%;
    margin-left      : -15px;
    bottom           : 20px;
    opacity          : .6;
    -webkit-animation: down_arrow_anim .5s infinite alternate ease-out;
    animation        : down_arrow_anim .5s infinite alternate ease-out;
  }
  @-webkit-keyframes down_arrow_anim {
    to {
      -webkit-transform: translate3d(0, 10px, 0);
      transform        : translate3d(0, 10px, 0);
      opacity          : 0;
    }
  }
  @keyframes down_arrow_anim {
    to {
      -webkit-transform: translate3d(0, 10px, 0);
      transform        : translate3d(0, 10px, 0);
      opacity          : 0;
    }
  }
}

// gray-box
#data-list-box {
  width         : 100%;
  height        : auto;
  background    : $gray;
  padding-top   : 20px;
  padding-bottom: 50px;
}

// 数据展示
.data-list {
  height       : auto;
  margin-bottom: 20px;
  font-size    : 0;

  .box {
    height       : 190px;
    padding-right: 10px;
    padding-left : 10px;
    margin       : 10px 0;
  }

  .l-box {
    width      : 100%;
    height     : 190px;
    background : $white;
    text-align : center;
    font-family: 'PTSans-Narrow';
    font-size  : 36px;
    color      : $black;
    padding-top: 50px;

    span {
      font-size: 16px;
      color    : $dark;
    }
  }
}

/*
 * card-box 个人写真
 */
.gray-box {
  width     : 100%;
  height    : auto;
  background: $gray;

  // 个人写真了继承环球旅拍的样式，同时它也能写别的样式
  .card-box-2 {
    @extend .card-box;
  }
}

/*
 * card-box 环球旅拍
 */
.card-box {
  margin-top: 10px;
  height    : auto;
  text-align: center;

  a,
  a:-webkit-any-link {
    color: $dark;
  }

  .card-footer {
    display      : inline-block;
    margin-bottom: 30px;
    color        : $dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .card-title {
    padding    : 30px 0;
    font-size  : 20px;
    line-height: 15px;

    img {
      width : 83px;
      height: 17px;
    }

    .small {
      color         : $dim-dark;
      font-family   : 'Copperplate';
      letter-spacing: 5px;
    }
  }

  .card-list {
    height       : auto;
    margin-bottom: 40px;
    width        : 100%;
    font-size    : 0;

    .card {
      height       : 290px;
      padding-right: 12px;
      font-size    : 16px;
      margin-bottom: 10px;

      &:last-child,
      &:nth-child(2) {
        padding: 0;
      }
      @media screen and (max-width: 800px) {
        padding: 0;
        margin : 0;
      }

      .l-box {
        display: block;
        border : 1px $dim-dark solid;
        height : 290px;
        cursor : pointer;
        @media screen and (max-width: 800px) {
          border: none;
        }

        &:hover {
          border: 1px $black solid;
        }
      }

      .l-box-img {
        border: none;
      }

      .card-subtitle {
        padding: 10px 0;
      }

      .card-text {
        font-size: 14px;
        color    : $dark;

        .face {
          display       : inline-block;
          vertical-align: middle;
          width         : 21px;
          height        : 21px;
          background    : #000;
          border-radius : 50%;
        }

        .vip {
          width : 10px;
          height: 10px;
        }
      }

      .l-box-img {
        width          : 100%;
        height         : 290px;
        background     : url('http://www.ffpic.com/demo/131228581643106/images/001.png') center no-repeat;
        background-size: cover;
      }

      .card-img {
        max-width: 100%;
        display  : block;
        height   : 216px;
      }
    }
  }
}

/*
 * 图片轮播，人气摄影师
 */
.grapher-info-box {
  width        : 100%;
  @media screen and (max-width: 800px) {
    height: 850px;
  }
  height       : 550px;
  padding      : 50px 0;
  background   : #F9EFDF;
  font-size    : 0;
  margin-bottom: 64px;

  .container {
    height: 450px;
  }
}

.grapher-info {
  background: #fff;
  height    : 450px;
  text-align: center;

  .sign {
    width      : 142px;
    height     : 36px;
    line-height: 36px;
    display    : inline-block;
    background : $black;
    color      : $white;
    font-size  : 16px;
  }

  .face {
    width        : 100px;
    height       : 100px;
    display      : inline-block;
    background   : #000;
    border-radius: 50%;
    margin       : 15px;
  }

  .title {
    font-size: 18px;

    span {
      color: $dark;
    }

    img {
      width : 12px;
      height: 12px;
    }
  }

  .info {
    margin-top   : 20px;
    width        : 240px;
    height       : 36px;
    line-height  : 36px;
    display      : inline-block;
    padding-left : 5%;
    background   : #f8eddc;
    border-radius: 100px;
    font-size    : 12px;
    font-family  : 'PTSans-Narrow';

    p {
      width       : 26%;
      margin-right: 10px;
    }

    span {
      font-size: 18px;
    }
  }

  .text {
    margin-top: 20px;
    width     : 240px;
    display   : inline-block;
    font-size : 14px;
    color     : #949494;
  }

  .btn {
    margin-top : 40px;
    width      : 140px;
    height     : 40px;
    display    : inline-block;
    border     : 1px solid #bdbdbd;
    line-height: 40px;
    font-size  : 16px;
    color      : #414141;

    &:hover {
      color     : $white;
      background: $black;
    }
  }
}

// 矩形列表
//
.advertising-list {
  width    : 1266px;
  height   : auto;
  margin   : 0 auto;
  font-size: 0;

  span {
    display      : inline-block;
    width        : 130px;
    height       : 42px;
    background   : #ccc;
    margin-right : 12px;
    margin-bottom: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// 下载 APP
.download-box {
  width         : 800px;
  @media (max-width: 767px) {
    width: 100%;
  }
  height        : 300px;
  margin        : 80px auto 0;
  padding-bottom: 80px;
  font-size     : 0;

  .phone {
    text-align: center;

    img {
      width: 144px;
    }
  }

  .download {
    text-align: center;
    font-size : 16px;
    text-align: left;
    @media (max-width: 767px) {
      text-align: center;
    }
    color     : $black;

    .h1 {
      font-size     : 30px;
      color         : $black;
      letter-spacing: 1px;
      margin-bottom : 15px;
      padding-top   : 20px;
    }

    a,
    a:-webkit-any-link {
      color: $black;
    }

    .btn {
      display      : inline-block;
      margin-top   : 20px;
      margin-bottom: 10px;
      background   : #e6c288;
      width        : 175px;
      height       : 50px;
      line-height  : 50px;
      text-align   : center;
      color        : $black;
      font-size    : 18px;
      color        : $black;
    }

    span {
      color    : $dim-dark;
      font-size: 14px;
    }
  }
}
