// =============
// 图片左右轮播

#wrapper {
  float: left;
}

// 图片轮播容器
.rslides_container {
  @media (max-width: 767px) {
    height: 300px;
  }
  position: relative;
  float   : left;

  .rslides {
    margin: 0 auto;
  }

  img {
    height: 450px;
    @media (max-width: 767px) {
      height: 300px;
    }
  }
}

// 小圆点
.rslides_tabs {
  position: absolute;
  bottom  : 20px;
  right   : 10%;
  width   : 80px;
  height  : 10px;
  z-index : 1000;

  li {
    display     : inline;
    float       : none;
    _float      : left;
    *float      : left;
    margin-right: 8px;
  }

  a {
    text-indent          : -9999px;
    overflow             : hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius   : 15px;
    border-radius        : 15px;
    background           : #ccc;
    background           : rgba(0,0,0, .2);
    display              : inline-block;
    _display             : block;
    *display             : block;
    -webkit-box-shadow   : inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow      : inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow           : inset 0 0 2px 0 rgba(0,0,0,.3);
    width                : 9px;
    height               : 9px;
  }

  .rslides_here a {
    background: #222;
    background: rgba(0,0,0, .8);
  }
}

// =============
// 图片上下轮播

.slider-box {
  position  : relative;
  left      : 0;
  top       : 0;
  padding   : 10px;
  background: $white;
  border    : 1px solid $black;

  .sign {
    position   : absolute;
    left       : 0;
    top        : 0;
    z-index    : $z-index-highest;
    width      : 120px;
    height     : 40px;
    line-height: 40px;
    background : $black;
    color      : $white;
    font-size  : 16px;
    text-align : center;
  }
}

.slider-sway {
  width   : 100%;
  height  : 300px;
  position: relative;
  left    : 0;
  top     : 0;
  overflow: hidden;

  .slider {
    position: absolute;
    height  : 300px;
    left    : 0;
    top     : 0;
    z-index : $z-index-base;
    width   : 100%;
  }

  .slider li {
    float          : left;
    list-style-type: none;
    height         : 100%;
    width          : 100%;
  }

  .slider img {
    border: 0;
    width : 100%;
    height: 300px;
  }

  .btn-box {
    position     : absolute;
    right        : 20px;
    bottom       : 50%;
    margin-bottom: -35px;
    z-index      : $z-index-high;
    width        : 10px;
    height       : 70px;

    .btn {
      display      : inline-block;
      margin-bottom: 5px;
      width        : 10px;
      height       : 10px;
      background   : $white;
      border-radius: 50%;
      border       : 1px $black solid;
      cursor       : pointer;
    }

    .cur {
      background: $black;
      color     : #fff;
    }
  }
}
