//--- Nav ------
//
//
.custom-menu-wrapper {
  position   : relative;
  z-index    : $z-index-high;
  height     : $nav_height;
  line-height: $nav_height;
  color      : $white;
  font-size  : 16px;
  text-align : left;
  @media (max-width: 1000px) {
    text-align: center;
  }

  a, a:-webkit-any-link { color: #fff; }

  .pure-menu-list {
    display: inline-block;
    @media (max-width: 768px) {
      width  : 100%;
    }
    font-size: 0;

    li {
      width  : 82px;
      display: inline-block;
      font-size: 16px;
      @media (max-width: 768px) {
        width  : 20%;
      }
    }
  }

  .pure-menu-link {
    color: $white;

    small {
      color: $white;
    }

    &:hover {
      background-color: transparent;
    }
  }

  .custom-menu {
    @media (max-width: 1000px) {
      width  : 100%;
      display: block;
    }
    display       : inline-block;
    vertical-align: middle;
  }

  .logo {
    height: $nav_height;

    img {
      vertical-align: middle;
    }
  }
}

.custom-menu-top {
  position: relative;
}

.custom-menu-brand {
  display : inline-block;
  position: relative;
}

.custom-menu-toggle {
  width   : $nav_height;
  height  : $nav_height;
  display : block;
  position: absolute;
  top     : 20px;
  right   : 0;
  display : none;

  .bar {
    background-color  : white;
    display           : block;
    width             : 20px;
    height            : 2px;
    border-radius     : 100px;
    position          : absolute;
    top               : 22px;
    right             : 12px;
    -webkit-transition: all .5s;
    -moz-transition   : all .5s;
    -ms-transition    : all .5s;
    transition        : all .5s;

    &:first-child {
      -webkit-transform: translateY(-6px);
      -moz-transform   : translateY(-6px);
      -ms-transform    : translateY(-6px);
      transform        : translateY(-6px);
    }
  }
}

.custom-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);

  &:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    -ms-transform    : rotate(-45deg);
    transform        : rotate(-45deg);
  }
}

.custom-menu-screen {
  display           : none;
  @media (max-width: 1000px) {
    display         : block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  height            : $nav_height;
  width             : 70em;
  position          : absolute;
  top               : 0;
  z-index           : $z-index-hide;
  border-top        : 1px solid #eee;
  -webkit-transition: all .5s;
  -moz-transition   : all .5s;
  -ms-transition    : all .5s;
  transition        : all .5s;
}

.custom-menu-tucked .custom-menu-screen {
  -webkit-transform: translateY($nav_height-y);
  -moz-transform   : translateY($nav_height-y);
  -ms-transform    : translateY($nav_height-y);
  transform        : translateY($nav_height-y);
}

// 不同尺寸不同样式
@media (max-width: 1000px) {
  .custom-menu-toggle {
    display: block;
    display: none\9;
  }

  .custom-menu-bottom {
    position        : absolute;
    width           : 100%;
    background-color: #808080 \9;
    z-index         : $z-index-high;
  }

  .custom-menu-bottom .pure-menu-link {
    opacity           : 1;
    -webkit-transform : translateX(0);
    -moz-transform    : translateX(0);
    -ms-transform     : translateX(0);
    transform         : translateX(0);
    -webkit-transition: all .5s;
    -moz-transition   : all .5s;
    -ms-transition    : all .5s;
    transition        : all .5s;
  }

  .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform   : translateX(-140px);
    -ms-transform    : translateX(-140px);
    transform        : translateX(-140px);
    opacity          : 0;
    opacity          : 1\9;
  }

  .pure-menu-horizontal.custom-menu-tucked {
    z-index : $z-index-hide;
    top     : $nav_height;
    position: absolute;
    overflow: hidden;
  }
}

// 控制二级菜单动画的 overflow
.pure-menu-horizontal.pure-menu-scrollable {
  white-space               : nowrap;
  overflow-y                : hidden;
  overflow-x                : auto;
  -ms-overflow-style        : none;
  -webkit-overflow-scrolling: touch;
}

// footer
// 预约流程
.icon-list {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#footer {
  width: 100%;
  height: auto;
  background: $gray;
  text-align: center;
  font-size: 12px;

  a, a:-webkit-any-link {
    color: $black;
  }

  .QR-box {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 55px;

    .fl img {
      width: 55px;
      height: 55px;
    }

    .fr {
      padding-top: 5px;
      height: 55px;
      font-size: 12px;

      img {
        height: 25px;
        width: 118px;
       }
    }
  }

  aside {
    color: $dim-dark;
    margin-top: 10px;
    padding-bottom: 50px;

    span {
      color: $black;
    }
  }
}
