// poster

#works-home {
  padding-top    : 240px;
  @media (max-width: 767px) {
    padding-top: 200px;
  }
  background     : url('../img/poster_works.png') center no-repeat;
  background-size: cover;

  a,
  a:-webkit-any-link {
    color: $white;
  }

  .data-box {
    height        : 45px;
    padding-bottom: 20px;
    text-align    : center;
    @media (max-width: 767px) {
      text-align: left;
    }
    color         : #e6c288;
    font-size     : 0;

    .center,
    .left,
    .right {
      width     : 200px;
      height    : 45px;
      display   : inline-block;
      font-size : 36px;
      text-align: center;
      @media (max-width: 767px) {
        width    : 33%;
        font-size: 24px;
      }

      section {
        height    : 75px;
        margin-top: -20px;
        @media (max-width: 767px) {
          margin-top: -10px;
        }
      }
    }

    .center,
    .left {
      border-right: 1px $white solid;
    }

    p {
      font-size: 18px;
      color    : $white;
    }
  }

  .download {
    width     : 520px;
    @media (max-width: 767px) {
      width: 100%;
    }
    height    : 185px;
    margin    : 80px auto 0;
    text-align: center;
    font-size : 0;
    color     : $white;

    a,
    a:-webkit-any-link {
      color: $black;
    }

    .left {
      display     : inline-block;
      width       : 131px;
      margin-right: 40px;
      text-align  : center;
      font-size   : 12px;

      img {
        width        : 131px;
        height       : 131px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
      }
    }

    .right {
      display       : inline-block;
      width         : 340px;
      font-size     : 16px;
      text-align    : left;
      @media (max-width: 767px) {
        text-align: center;
      }
      vertical-align: top;

      .h1 {
        margin-bottom: 15px;
        font-size    : 33px;
      }

      .btn {
        display      : inline-block;
        margin-top   : 20px;
        margin-bottom: 10px;
        background   : #e6c288;
        width        : 175px;
        height       : 50px;
        text-align   : center;
        line-height  : 50px;
        font-size    : 18px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  .btn-2 {
    opacity      : .8;
    display      : block;
    margin       : 0 auto;
    width        : 212px;
    height       : 38px;
    position     : absolute;
    bottom       : 70px;
    @media (max-width: 767px) {
      bottom: 30px;
    }
    left         : 50%;
    margin-left  : -106px;
    line-height  : 38px;
    text-align   : center;
    border       : 1px solid #ffffff;
    border-radius: 100px;
    font-size    : 16px;

    &:hover {
      border-color: $black;
      background: $black;
    }
  }
}
